<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ramkumar Murthy</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito|Cutive+Mono|Open+Sans'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="inner-nav"></div>
  <div id="container">
    <div id="profile">
      <div id="image">
        <img id="profile-photo" src="http://mnnit.ac.in/ss/images/shashank.jpg" alt="Profile-Image">
        <!-- <a href="#"><i class="fas fa-pen stroke-transparent"></i></a> -->
      </div>
      <p id="name">Ramkumar Murthy<br><span id="email">ramkumar.mrj97@gmail.com</span></p>
      <p id="designation">Software Engineer<br><span id="college">Cisco Systems India Pvt, Ltd. Bengaluru, Karnataka,
          India</span></p>
          <div id="social-links">
            <a href="#" target="_blank"><i class="fab fa-linkedin-in stroke-transparent-blue"></i></a>
            <a href="#" target="_blank"><i class="fab fa-github stroke-transparent"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter stroke-transparent-blue"></i></a>
            <a href="#" target="_blank"><i class="fab fa-medium stroke-transparent"></i></a>
            <a href="#" target="_blank"><i class="fab fa-dev stroke-transparent"></i></a>
          </div>
          <!-- <a id="edit-intro" href="#"><i class="fas fa-pen-alt blue"></i>&nbsp;&nbsp;Edit Intro</a> -->
          <hr width="100%">
          <div id="about">
            <h4 style="display:inline;">About</h4>
            <!-- <a href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a> -->
          </div>
          <p id="year-graduation">Year of Graduation<br><strong>June, 2022</strong></p>
          <p id="education">Education<br><strong>Bachelor's of Engineering | KGiSL Institute of Technology,
            Coimbatore</strong></p>
            <p id="more-about">More about me<br><span>Computer Science & Engineering Department</span></p>
            <p id="telephone">Phone<br><strong>+91 532-227-1351</strong></p>
            <!-- <p id="fax">Fax<br><strong>+91-532-25453441</strong></p> -->
            <hr>
            <div id="about">
              <h6 style="display:inline;">Languages</h6>
              <ul>
                <li id="languages"><span>English - </span>Professional</li>
                <li id="languages"><span>Tamil - </span>Native</li>
                <li id="languages"><span>Kannada - </span>Native</li>
                <li id="languages"><span>Malayalam - </span>Conversational</li>
                <li id="languages"><span>Telugu - </span>Conversational</li>
                <li id="languages"><span>Hindi - </span>Read/Write</li>
              </ul>
              <p><span id="college">Coimbatore, TN, IN</span></p>
        <!-- <a href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a> -->
      </div>
    </div>
    <div id="info-cards">
      <div class="card">
        <h3><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;About</h3>
        <p>Motivated Computer Science Engineer with over a year of experience as an SDE Apprentice, seeking an
          entry-level position in an innovative company. Committed to enhancing skills, contributing to growth, and
          making a meaningful impact.</p>
      </div>
      <div class="card">
        <h3><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Work Experience</h3>
        <ul>
          <li>
            <p class="tags"><a href="https://drive.google.com/file/d/1Uam2nb5u81IyN1xS9UbsSm6FXsAB4JIN/view"
                target="_blank">Software Engineer Apprentice</a> | <span>Cisco Systems India Pvt,
                Ltd.</span><br><span>Bengaluru | <span>Oct 2022 - Oct 2023</span></span></p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
            <ul>
              <li>sdkds</li>
              <li>sdsd</li>
              <li>qewe</li>
            </ul>
            <p>Highlights:</p>
            <ul>
              <li>sdkds</li>
              <li>sdsd</li>
              <li>qewe</li>
            </ul>
          </li>
        </ul>
        <!-- <a href="#">+ Add work experience, including contracts and internships</a> -->
      </div>

      <div class="card">
        <h3><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Projects Experience</h3>
        <ul>
          <li>
            <p class="tags"><a href="https://smrtproctor.orgfree.com/" target="_blank">Digital Document Scanner
              </a><span><span> | 2022-02-01 - 2022-06-01</span></span></p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
            <ul>
              <li>Developed a Flutter and Dart-based mobile app for document scanning, QR code tools, sketching, and
                cloud storage. Utilized Firebase for user authentication and secure data storage.</li>
              <li>Stacks Used: Flutter, Dart, Firebase.</li>
            </ul>
          </li>
        </ul>
        <!-- <a href="#">+ Add work experience, including contracts and internships</a> -->
      </div>

      <div class="card">
        <h3><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Skills</h3>
        <ul>
        <li>
            <p class="tags">Frontend</p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
            <ul>
              <li>Flutter</li>
              <li>Dart</li>
              <li>Firebase.</li>
            </ul>
          </li>
          <li>
            <p class="tags">Backend</p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
            <ul>
              <li>Flutter</li>
              <li>Dart</li>
              <li>Firebase.</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="card">
        <h3><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Certifications</h3>
        <ul>
          <li>
            <p class="tags">Python Training Certification Course <a href="#" target="_blank"><i class="fas fa-external-link-alt stroke-transparent-blue"></i></a><br><span>Simplilearn | <span>2023-01-01</span></span></p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
          </li>
        </ul>
        <!-- <a href="#">+ Add workshops attended</a> -->
      </div>
      <div class="card">
        <h3><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Education</h3>
        <ul>
          <li>
            <p class="tags">Bachelor of Engineering - Computer Science & Engineering<br><span>KGiSL Institute of
                Technology, Coimbatore, TN | <span>2022-07-01</span></span></p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
          </li>
        </ul>
      </div>

      <div class="card">
        <h3><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;&nbsp;&nbsp;References</h3>
        <ul>
          <li>
            <p class="tags">Bhuvanesh</p>
            <em>The author chuckled awkwardly to himself.</em></p>
            <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- partial -->

</body>

</html>