<div class="card">
  <h3><mat-icon svgIcon="work" aria-hidden="false" aria-label="work"></mat-icon>&nbsp;&nbsp;&nbsp;Work Experience</h3>
  <ul *ngFor="let exp of data.work">
    <li>
      <p class="tags">
        <a href="{{ exp.url }}" target="_blank">{{exp.position}} <mat-icon svgIcon="open-link" aria-hidden="false" aria-label="open-link"></mat-icon></a> | <span>{{exp.company}}</span><br>
        <span>{{exp.location}} | <span>{{exp.startDate | date: "MMMM YYYY"}} - {{exp.endDate | date: "MMMM YYYY"}}</span></span>
      </p>
      <p>{{exp.summary}}</p>
      <p><b><em>Highlights:</em></b></p>
      <ul *ngFor="let highlight of exp.highlights">
        <li>{{highlight}}</li>
      </ul>
    </li>
  </ul>
</div>