<div id="info-cards">
  <div class="card">
    <h3><mat-icon svgIcon="about" aria-hidden="false" aria-label="about"></mat-icon>&nbsp;&nbsp;&nbsp;About</h3>
    <p>{{data?.basics?.summary}}</p>
  </div>

  <!-- Work Experiences -->
  <app-work-experience></app-work-experience>

  <!-- Projects -->
  <app-projects></app-projects>

  <!-- Skills -->
  <app-skills></app-skills>

  <!-- Certifications -->
  <app-certifications></app-certifications>

  <!-- Educations -->
  <app-education></app-education>

  <!-- References -->
  <app-references></app-references>

</div>